html,body {
    height: 100%;
  }
  body {
    width: 80%;
  }

.App {
    padding-top: 4rem;
    min-height: 100vh;
}
.navbar {
    background-color: rgb(137, 199, 207);
    width: 200%;
    height: 5rem;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
}
.col {
    margin-top: 7vh;
    margin-left: 20vh;
    column-count: 2;
    border-bottom: 2px; 
}
.card-title {
    background-color: rgb(238, 240, 145);
    width: 150px;
    font-family: Arial;
    font-size: medium;
    text-align: center;
    align-items: center;
    border: 2px solid gray;
}
.card-img {
    margin-left: -27vh;
    padding-top: 27px;
    width: 150px;
    border: 2px solid gray;
    align-items: center;
}